<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <label for="first_name"
        >First Name: <input type="text" name="first_name"
      /></label>
      <label for="last_name"
        >Last Name: <input type="text" name="last_name"
      /></label>
      <label for="username"
        >Username(email): <input type="email" name="username"
      /></label>
      <label for="password"
        >Password:<input type="text" name="password"
      /></label>
      <label for="confirm_password"
        >Confirm Password: <input type="text" name="confirmed_password"
      /></label>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
